Repository 44510/discourse, changes with the labels that .github/labeler.yml gives for each.
All labels: chat, i18n

switch boolean around
  app/assets/javascripts/discourse/app/components/search-menu.js
  app/assets/javascripts/discourse/app/components/search-menu/results.hbs
  app/assets/javascripts/discourse/app/components/search-menu/results/random-quick-tip.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/services/search.js
Labels: none

Ahh miss type
  app/assets/javascripts/discourse/app/components/search-menu/results.hbs
Labels: none

Additional outlet
  app/assets/javascripts/discourse/app/components/search-menu.hbs
Labels: none

FEATURE: Theme settings migrations
  app/controllers/admin/themes_controller.rb
  app/models/remote_theme.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/models/theme_settings_migration.rb
  app/services/theme_settings_migrations_runner.rb
  app/services/themes_install_task.rb
  config/locales/server.en.yml
  db/migrate/20230907225057_create_theme_settings_migrations.rb
  lib/tasks/themes.rake
  lib/theme_settings_manager.rb
  spec/fabricators/theme_field_fabricator.rb
  spec/fabricators/theme_settings_migration_fabricator.rb
  spec/lib/theme_store/zip_exporter_spec.rb
  spec/models/remote_theme_spec.rb
  spec/models/theme_field_spec.rb
  spec/models/theme_spec.rb
  spec/requests/admin/themes_controller_spec.rb
  spec/services/theme_settings_migrations_runner_spec.rb
  spec/support/helpers.rb
Labels: i18n

Another plugin outlet
  app/assets/javascripts/discourse/app/components/search-menu/results/types.hbs
Labels: none

more plugin outlets
  app/assets/javascripts/discourse/app/components/search-menu.hbs
  app/assets/javascripts/discourse/app/components/search-menu/results.hbs
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.hbs
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.js
  app/assets/javascripts/discourse/app/components/search-menu/results/types.hbs
Labels: none

uncomment spec
  spec/requests/admin/themes_controller_spec.rb
Labels: none

DEV: Ability to collect stats without exposing them via API
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/models/about.rb
  app/models/stat.rb
  app/serializers/about_serializer.rb
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  lib/statistics.rb
  plugins/chat/plugin.rb
  spec/lib/discourse_hub_spec.rb
  spec/lib/plugin/instance_spec.rb
  spec/models/about_spec.rb
  spec/requests/site_controller_spec.rb
  spec/serializers/about_serializer_spec.rb
Labels: chat

Sort out groups with to many mentions in ParsedMentions instead of doing it in Notifier
  plugins/chat/lib/chat/notifier.rb
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat

mentionable_groups_ids -> group_ids
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat

Avoid a heavy JOIN
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat

No need to include groups anymore
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat

Optimize: avoid an extra query to the groups table
  plugins/chat/lib/chat/parsed_mentions.rb
Labels: chat

don't rebuild original_name repeatedly
  app/services/theme_settings_migrations_runner.rb
Labels: none

don't allow weird characters in migration filenames
  app/models/theme_field.rb
  config/locales/server.en.yml
  spec/models/theme_field_spec.rb
Labels: i18n

add AR validations for presence on ThemeSettingsMigration model
  app/models/theme_settings_migration.rb
  spec/models/theme_settings_migration_spec.rb
Labels: none

don't create updated_at column
  db/migrate/20230907225057_create_theme_settings_migrations.rb
Labels: none

check for valid? instead of save
  spec/models/theme_field_spec.rb
Labels: none

cache loader.js in memory and replace load with eval andfilename arg
  app/services/theme_settings_migrations_runner.rb
Labels: none

use integer type for now
  db/migrate/20230907225057_create_theme_settings_migrations.rb
Labels: none

fix annotations
  app/models/theme_settings_migration.rb
Labels: none

fix typo
  spec/services/theme_settings_migrations_runner_spec.rb
Labels: none

.github/labeler.yml:

chat:
  - "plugins/chat/**/*"

i18n:
  - "config/locales/*en.yml"
  - "plugins/**/config/locales/*en.yml"
  - "**/*i18n*"
